.App {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    row-gap: 30px;
    background-color: blueviolet;
    color:#73ebeb
}
